h1.expr{
    margin: 0;
    padding: 0 !important;
}
.ecard{
    display: flex;
    gap: 60px;
    padding: 40px 50px; 
}
.ecard h2{
    color: rgb(255, 136, 175);
    margin: 0px 0px 5px 0px;
}
.ecard p{
    color: #99DDFF;
    margin: 5px 0px;
    
}
.ecard ul{
    padding-left: 15px;
    margin: 0;
}
.ecard  ul li{
    color: white;
    font-size: large;
}
.ecard img{
    background-color: aliceblue;
    width: 200px;
    height: 150px;
    margin-top: 15px;
    border-radius: 20px;
}
#il{
    width: 303px;
} 
#si{
    margin-top: 6px;
}
